/* partials/layout */

.wrapper {
  position: relative;
  max-width: 90rem;
  margin: 0 auto;
  @include cf;
}

// make sure that all the article content stays in the container
article {
  margin: $line-ht 0;
  @include cf;
  clear: both;
}

// smallest screen
@include maxw( $nar- ) {

}

// medium width screen
@include minmax( $nar, $med- ) {


}

// large screen
@include minw( $med ) {
  .content { // article
    width: 100% - $cntrl-width;
    float: left;
    padding: $line-ht $gutter;
  }

  .content.full {
    width: 100%;
  }

  #controls {
    width: $cntrl-width;
    float: right;
  }

  footer {
    clear: both;
  }
}

#visualisation {
  position: relative;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

.d3-tip p, .d3-tip dl {
  margin-bottom: 0
}

.d3-tip dt {
  font-weight: bold;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}